/* General */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header{
  position: relative;
  top: 75px;
  margin-left: 33%;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.fix-nav {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
}

nav a {
  color: black;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 0 10px;
}

nav img {
  height: 36px;
  position: relative;
  top: 5px;
}

button {
  color: white;
  background-color: rgb(86, 123, 149);
  border-radius: 5px;
  border: 1px solid;
  height: 32px;
}

button:hover {
  background-color: rgb(50, 104, 145);
}

/* article */
article {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}

.main-img {
  max-width: 945px;
}

figcaption {
  width: 945px;
  padding-right: 120px;
  font-size: 15px;
  color: rgb(102, 102, 102);
  font-family: nyt-imperial, georgia, arial;
  line-height: 20px;
}

figcaption span {
  font-size: 12px;
  color: rgb(136, 136, 136);
}

.first_p {
width: 600px;
}

.first_p h2 {
  margin-top: 40px;
  font-weight: bold;
}

.first_p a {
    color: black;
    text-decoration: underline rgb(204, 204, 204);
}

.first_p a:hover {
  text-decoration: none;
}

.social a {
  color: black;
  font-size: 12px;
  background-color: rgb(238, 238, 238);
  height: 15%;
  margin-left: 10px;
  padding: 7px;
  border-radius: 50%;
}

.fb {
  padding: 7px 10px !important;
  /* border: 1px solid red; */
}

.social {
  display: flex;
  width: 600px;
  margin-top: 20px;
  justify-content: space-between;
  height: 34px;
  align-items: center;
}

.social a:hover {
  background-color: white;
  border: 1px solid rgb(238, 238, 238);
}

.social a:nth-last-child(-n+2){
  background-color: white;
}

.first_p div p {
  font-size: 20px;
  line-height: 30px;
  font-family: nyt-imperial, georgia, "Times New Roman";
  padding-top: 20px;
}
