@font-face {
  font-family: "nyt-franklin";
  src: url("../fonts/franklin-normal-300.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("../fonts/franklin-normal-500.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("../assets/fonts/franklin-italic-600.ttf") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("../fonts/franklin-normal-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("../fonts/franklin-normal-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("../fonts/franklin-normal-900.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
